h1 {
    text-align:center;
}

section {
    text-align:center;
}

body {
    background-color:rgba(212, 211, 208, 0.854);
}

h4 {
    font-family:Georgia
}

.paragrafo{
    font-family:Georgia
}

figure{
    text-align: center;
}

.video{
    text-align: center;
    font-family:Georgia
}

.fim{
    text-align: center;
    font-family:Georgia
}











